*{
    margin: 0;
    padding: 0;
}


.bgMenu{
    width: 240px;
    min-height: 100%;
    position: fixed;
    background-color: rgb(31, 31, 102);  
    display: block; 
    margin: 0;
}

.LogoImg{
    padding-top: 100px;
    padding-left: 30px;
}

.textMenu{
    margin-top: 40px;
}

.textMenu__btn-stlyle{
    width: 100%;
    height: 40px;
    padding-left: 40px;
    font-size: 15px;
    text-align: left;
    border: none;
    background-color: rgb(31, 31, 102);
    color: white;
}

.textMenu__btn-stlyle:hover{
    background-color: rgb(94, 230, 90);
    transition: 1s;
    cursor: pointer;
}

.textMenu__btn-stlyle:focus{
    background-color: rgb(94, 230, 90);
    border: none;
    border-style: none;
}

.information{
    padding-left: 240px;
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    padding: 50px;
}

.title{
    text-align: center;
    border-bottom: 1px solid rgb(211, 210, 210);
    border-top: 1px solid rgb(211, 210, 210);
    padding: 30px 0 35px;
    margin-top: 20px;
}

.subtitle{
    margin-top: 40px;
    margin-bottom: 30px;
}

.text{
    margin-top: 50px;
    margin-bottom: 40px;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: silver;
}

.list__features-square{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: square;
}

.list__installation-number{
    margin-top: 20px;
    margin-bottom: 20px;   
}

